body {
    background-color: #09143c;
}

#mainTitle {
    text-align: center;
    color: white;
    font-family: "Copperplate", fantasy;
}

#navigation {
    text-align: center;
}

#navigation ul {
    padding-left: 0px;
}

#navigation ul li {
    text-align: center;
    background-color: white;
    display:inline-block;
    width: 90px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

#aboutNav {
    margin-right: 4%;
}

#calcNav {
    margin-left: 4%;
}

h2 {
    text-align: center;
    color: white;
}